<GeneralContainer>
  <center>
    <div class="input-group mb-3 barra-busqueda">
      <div class="input-group-prepend">
        <button id="button" class="btn btn-outline-secondary" type="button" {{on "click" this.filter}}><i class="fa fa-search"></i></button>
      </div>
      <input name="search"  id="search" type="text" class="form-control" placeholder="Search" aria-label="" aria-describedby="basic-addon1" {{on "input" this.filter}}>
    </div>
  </center>
  {{#each this.Product as |product|}}
    <Product @product={{product}}/>
  {{/each}}
</GeneralContainer>