<GeneralContainer>
  <br/>
  <br/>
  <br/>
  <nav class="navbar navbar-light bg-light">
      <input name="search" id="search" class="form-control mr-sm-1" type="text" placeholder="Search" {{on "input" this.filter}}>
      <button id="button" class="btn btn-outline-success my-2 my-sm-0" type="submit" {{on "click" this.filter}}>
        Search
      </button>
      {{this.texto}}
      xD
  </nav>
  {{#each this.Product key="@index" as |product|}}
    <Product @product={{product}}/>
  {{/each}}
</GeneralContainer>