<h2>{{@title}}</h2>
<h1>Personas</h1>
<ul>
  {{#each @personas as |personas|}}
    <li>
      <button type="button"  {{on 'click' (fn this.showPerson personas)}}>{{personas}}</button>
    </li>
  {{/each}}
</ul>